.darkmode {
  padding: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  & svg {
    width: 100%;
    height: 100%;
    fill: var(--dark);
    transition: opacity 0.2s ease;
    opacity: 0.85;
  }

}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > .dayIcon {
    display: none;
  }
  & > .nightIcon {
    display: inline;
  }
}

:root .darkmode {
  & > .dayIcon {
    display: inline;
  }
  & > .nightIcon {
    display: none;
  }
}
