footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  padding-top: 2rem;
  border-top: 1px solid var(--lightgray);

  .footer-center {
    display: flex;
    align-items: center;

    a {
      text-decoration: underline;
      color: var(--secondary);
      font-weight: 300;
      display: inline-flex;
      align-items: center;
      gap: 0.3em;

      .external-icon {
        width: 0.8em !important;
        height: 0.8em !important;
        fill: currentColor !important;
      }

      &:hover {
        color: #168685 !important;
      }
    }
  }
}

:root[saved-theme="dark"] footer {
  .footer-signature {
    filter: invert(1) brightness(1.2);
  }
}
