@use "../../styles/variables.scss" as *;

.graph {
  display: inline-flex;
  align-items: center;

  & > .graph-outer {
    position: relative;

    & > .graph-container {
      display: none;
    }

    & > .graph-icon {
      cursor: pointer;
      background: none;
      border: none;
      color: var(--dark);
      width: 18px;
      height: 18px;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.2s ease;

      & > svg {
        width: 100%;
        height: 100%;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  & > .global-graph-outer {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    backdrop-filter: blur(4px);
    display: none;
    overflow: hidden;

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & > .graph-title {
      position: fixed;
      top: calc(50% - 25vh - 3rem);
      left: 50%;
      transform: translateX(-50%);
      margin: 0 0 1rem 0;
      font-weight: 300;
      font-size: 1.5rem;
      color: var(--secondary);
      z-index: 10000;

      @media all and not ($desktop) {
        top: calc(50% - 30vh - 3rem);
      }
    }

    & > .global-graph-container {
      border: 1px solid var(--lightgray);
      background-color: var(--light);
      border-radius: 5px;
      box-sizing: border-box;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50vh;
      width: 50vw;
      padding: 1.5rem;

      @media all and not ($desktop) {
        width: 90%;
        height: 60vh;
      }
    }
  }
}
